@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');



*, *:after, *:before {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a, button, *:active, *:focus, button:focus {
    outline: none;
}

button:active, .button:active {
    transform: scale(.99);
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

button:disabled {
    opacity: .7;
    @apply cursor-default bg-gray-50 ring-gray-100 text-gray-600
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.avatar--me {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

@media (max-width: 768px) {
    a, button {
        cursor: default;
    }
}

@tailwind components;

@tailwind utilities;

.bg-gray-custom {
    background: #111111;
}

.bg-blue-custom {
    background: #d2fdff;
}

.min-h-screen-custom {
    min-height: calc(100vh - 70px);
}

.flex-0 {
    flex: 0 0 auto;
}

.text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-1r {
    font-size: 1rem;
}

.text-xs {
    font-size: .75rem;
}

.d-none {
    display: none;
}
